footer{
  background: #000000;
  nav.navbar-dark {
    ul:not(.dropdown-menu) {
      & > li {
        & > a.nav-link {
          color: #ffffff;
          &:after{
            display: block;
            content: "";
            width: 0;
            -webkit-transition: all 1s ease 0s;
            transition: all 1s ease 0s;
            height: 1px;
            background-color: rgb( 251, 65, 78 );
          }
          &:hover:after{
            width: 100%;
          }
        }
      }
    }
  }
}